/*
 * Styles appliqués sur les pages publiques d'OPAGA
 * Vous êtes vivement encouragé à les redéfinir dans votre thème
 */

#liste-formation .prive
{
    background-color: #EEE;
    padding: 3px;
}
#liste-formation .prive:before
{
    content: "privée";
    float: right;
    font-size: 0.8em;
    color: #888;
}


/* Affichage public des sessions et des formations */
.formation-global,
.session-global
{
    display: flex;
    flex-flow: row wrap;
}
.formation-global .formation-side-content,
.session-global .session-side-content
{
    flex-basis: 30%;
    padding-right: 20px;
}
.formation-global .formation-content,
.session-global .session-content
{
    flex-basis: 70%;
    min-width: 400px;
}
.formation-global .formation-content ul,
.session-global .session-content ul
{
    list-style: disc inside;
}
.formation-global dt,
.session-global dt
{
    margin-top: 20px;
    margin-bottom: 10px;
}
.formation-global dd,
.session-global dd,
.formation-global li,
.session-global li
{
    margin-bottom: 10px;
}
.formation-global ol,
.session-global ol,
.formation-global ul,
.session-global ul
{
    margin: 5px 0 5px 10px;
}
